*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
form{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    padding: 15px;
}
form input{
    padding: 5px;
}
form select{
    padding: 6px;
}
form button{
    width: 100px;
    padding: 5px;
    margin-top: 10px;
}
table{
    width: 500px;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}
table th{
    padding: 8px;
    border: 1px solid;
}
table td{
    padding: 5px;
     border: 1px solid;
}
